# ignore those two demo-dirs (and anything inside them)
/demo_node/
/demo_python/
/datex_to_geojson/

# Ignore everything in ors/ except config folder
/ors/*
!/ors/config/ors-config.yml

/demo_node.zip
/Noto_Sans.zip

